//breakpoints
$break-small: 470px;
$break-medium: 960px;
$break-standard: 1024px;
$break-large: 1280px;
// colors
// background
$white: #FFFFFF;
$lightgray: #F7FAFB;
$mediumgray: #CFD8DC;
// text
$text-black: #192024;
$text-gray: #798489;
$text-blue: #36474F;
// clickable
$darkgreen: #39A8A9;
$green: #47B2B3;
// backup color
$black: #000000;

// fonts
// font-family
$primary-font: 'Roboto', sans-serif;

// font-size mobile
$font-size-base: 1rem;
$font-size-large: 2rem;

// font-size laptop
$font-size-base-laptop: 1.125rem;
$font-size-small: .875rem;
$font-size-medium: 1.5rem;
$font-size-large-laptop: 2.5rem;
$font-size-xlarge: 3.5rem;

// font-weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// line-height/font leading
$line-height-title: 2.25rem;
$line-height-xlarge: 1.75rem;
$line-height-large: 1.5rem;
$line-height-medium: 1.31rem;
$line-height-small: 1.125rem;
// letter-spacing/kerning
$spacing-small: .02rem;
$spacing-medium: .04rem;
