$break-small: 470px;
$break-large: 960px;

@mixin mq($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

button {
  border: 0;
}
img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  @include mq(desktop) {
    width: 960px;
    margin: 0 auto;
  }
}
.header {
  background-color: #ffffff;
  height: 4.5rem;
  z-index: 5;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include mq(desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: static;
  }
}

.logo {
  margin-left: 1.13rem;
  height: 2.5rem;
  width: 5.7rem;
  @include mq(desktop) {
    width: 7rem;
  }
}

.hamburger-menu {
  height: 1.25rem;
  margin-right: 1.25rem;
  width: 2rem;
  @include mq(desktop) {
    display: none;
  }
}
.menu {
  display: none;
  @include mq(desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu__item {
    padding: 0rem 1rem;
}

.intro {
  padding-top: 7rem;
  @include mq(desktop) {
    padding: 0;
    height: 26.88rem;
  }
}

.intro__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 6.8%;
  color: #192024;
  padding-bottom: 2rem;
  h1 {
    font-size: 2rem;
    font-weight: 300;
  }
  h2 {
    padding-top: .5rem;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.3px;
    line-height: 1.375rem;
    width: 91%;
  }
  @include mq(desktop) {
    margin: 0;
    width: 34.7%;
    background: white;
    position: absolute;
    z-index: 5;
    top: 9.63rem;
    left: 11.25rem;
    padding-left: 1.5rem;
    padding-top: 1.38rem;
  }
}

.image-container {
  position: relative;
}

.intro__signup_button {
  background: #36474F;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  padding: 0.69rem 2.56rem;
  bottom: 2.4rem;
  right: 1.31rem;
  font-size: 0.875rem;
  font-weight: 400;

  @include mq(desktop) {
    width: 20%;
    bottom: 4.19rem;
    left: 11.25rem;
    font-size: 1rem;
    line-height: 1.31rem;
    padding:.94rem auto;
  }
}
.pilot {
  padding-top: 2rem;
  @include mq(desktop) {
    padding-top: 10rem;
  }
}
.pilot__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 6.8%;
  @include mq(desktop) {
    width: 41%;
    top: 5.19rem;
  }
  h2 {
    font-size: 1.5rem;
    color: #192024;
  }
  p {
    padding-top: .5rem;
    font-weight: 300;
    line-height: 1.5rem;
    a {
      color: #36474F;
      font-weight: 400;
    }
  }
}

.pilot__image {
  width: 50%;
  margin: 2.88rem auto 3rem auto;
}

.pilot__button {
  width: 100%;
  background: #36474F;
  padding: 1rem 0;
  font-size: 1.125rem;
  color: #FFFFFF;
  font-weight: 400;
}

.process__title {
  color: #5F6C73;
  font-size: 2rem;
  font-weight: 400;
  margin: 5rem auto 0 auto;
  text-align: center;
}

.process__steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mq(desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.process__step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 55%;
  margin-top: 5rem;
}

.process__icon {
}

.process__text {
  margin-top: 1.5rem;
  color:#192024;
  font-weight: 500;
  line-height: 1.31rem;
}

.benefit__title {
  color: #36474F;
  font-size: 2.25rem;
  font-weight: 300;
  margin-top: 3.88rem;
  text-align: center;
}

.benefit__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2.25rem 4rem 0 1.88rem;
  width: 85%;
  h3 {
    color: #192024;
    font-size: 1.13rem;
    font-weight: 700;
    line-height: 1.5rem;
  }
  p {
    color: #192024;
    font-weight: 300;
    line-height: 1.31rem;
    margin-top: .5rem;
  }
}

.benefit__link {
  color: #36474F;
  font-weight: 400;
}

.team__title {
  color: #36474F;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.69rem;
  text-align: center;
  margin: 3rem auto 1.5rem auto;
}

.team__subtitle {
  color: #192024;
  font-size: 1.13rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center;
  margin-top: .75rem;
}

.team__members {
  margin: 2.5rem 5% 1.5rem 5%;
  @include mq(desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.team__text {
  padding-top: 1.5rem;
  padding-bottom: 2.88rem;
}
.team__member_name {
  font-size: 1.25rem;
  color: #192024;
  font-weight: 700;
}

.team__member_title {
  font-size: .75rem;
  color: #192024;
}

.team__member_bio {
  font-size: 1rem;
  padding-top: .75rem;
  padding-right: 2rem;
  font-weight: 300;
  line-height: 1.5rem;
  a {
    font-size: 1rem;
    color: #36474F;
    line-height: 1.5rem;
    font-weight: 400;
  }
}

.services {
   align-self: center;
    form {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 1rem;
     input {
       color: #36474F;
       font-family: "Roboto";
       font-size: 1rem;
       font-weight: 400;
       line-height: 1.31rem;
       height: 3rem;
       padding-left: .75rem;
       border-radius: .13rem;
       border: .06rem;
       border-style: solid;
       width: 88%;
     &:focus {
       border-style: none;
       border: 1;
      }
   }
    .services__form_button {
     width: 100%;
     background: #36474F;
     padding: 1rem 0;
     margin-top: 1rem;
     font-size: 1.13rem;
     text-transform: uppercase;
     line-height: 1.31rem;
     color: #FFFFFF;
     font-weight: 400;
     &:focus {
       border-style: none;
       opacity: 40%;
      }
   }
   }
   .mobile-map {
     margin: 1.5rem .88rem;
     width:90%;
   }
}

.services__title {
  color: #36474F;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.69rem;
  text-align: center;
  margin: 0 auto 1.5rem auto;
}

.services__subtitle {
  color: #192024;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.31rem;
  text-align: center;
  padding-bottom: 1.31rem;
}



.footer {
  width: 100%;
  height: 2.25rem;
  background-color: #EFF1F3;
  display: flex;
  justify-content: center;
  align-items: center;
  .copyright {
    color: #192024;
    font-size: .5rem;
    line-height: .63rem;
    font-weight: 300;
  }
}
