@import 'normalize/import-now';
@import 'partials/partials';


.header {
  background-color: $white;
  height: 4.5rem;
  z-index: 5;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include mq(tablet_landscape) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: static;
  }
}

.logo {
  margin-left: 1.13rem;
  height: 2.5rem;
  width: 5.7rem;
  @include mq(tablet_landscape) {
    width: 7rem;
    margin-bottom: 1rem;
  }
}

.hamburger-menu {
  height: 1.25rem;
  margin-right: 1.25rem;
  width: 2rem;
  @include mq(tablet_landscape) {
    display: none;
  }
}
.menu {
  display: none;
  @include mq(tablet_landscape) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.menu__item {
  margin: 0rem 1rem;
  &.sign-in {
    border: 1px solid $text-black;
    padding: .5rem;
  }
}

.intro {
  padding-top: 7rem;
  @include mq(tablet_landscape) {
    padding:0rem;
  }
}

.intro__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 6.8%;
  color: $text-black;
  padding-bottom: 2rem;
  h1 {
    font-size: 2rem;
  }
  p {
    padding-top: .5rem;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.3px;
    line-height: 1.375rem;
  }
  @include mq(tablet_landscape) {
    margin: 0;
    width: 46%;
    position: absolute;
    z-index: 5;
    top: 25%;
    left: 45%;
    h1 {
      font-size: 3rem;
      padding-bottom: .3rem;
      line-height: $line-height-title;
      color: $text-black;
    }
    p {
      font-size: $font-size-base-laptop;
      font-weight: $font-weight-regular;
      line-height: $line-height-medium;
      color: $text-black;
    }
  }
  @include mq(laptop) {
    width: 43%;
    top: 28%;
    h1 {
      font-size: 3rem;
      padding-bottom: .3rem;
      line-height: $line-height-title;
      color: $text-black;
    }
    p {
      font-size: 1.25rem;
      font-weight: $font-weight-regular;
      line-height: 1.75rem;
      color: $text-black;
    }
  };
  @include mq(desktop) {
    width: 42%;
    top: 32%;
    h1 {
      font-size: 4.25rem;
      padding-bottom: 1rem;
    }
    p {
      font-size: $font-size-medium;
      line-height: 2rem;
    }
  }
}

.image-container {
  position: relative;
}

.intro__signup_button {
  width: auto;
  position: absolute;
  padding: .75rem 1.5rem;
  bottom: 2.4rem;
  right: 1.31rem;
  letter-spacing: $spacing-medium;
  @include mq(tablet_landscape) {
    width: 20%;
    bottom: 20%;
    left: 45%;
    width:21rem;
    padding: 1rem 1.75rem;
  }
  @include mq(laptop) {
    bottom: 25%;
  };
  @include mq(desktop) {
    padding: 1.25rem 2.5rem;
    bottom: 23%;
  }
}

.process {
  padding-bottom: 5rem;
  @include mq(tablet_landscape) {
    padding: 8rem 0 12rem 0;
  }
}

.process__title {
  font-size: $font-size-large;
  font-weight: $font-weight-regular;
  margin: 5rem auto 0 auto;
  text-align: center;
  @include mq(tablet_landscape) {
    text-align: left;
    margin: 0 auto;
  }
}

.process__steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mq(tablet_landscape) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.process__step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 55%;
  margin-top: 5rem;
}

.process__icon {
  @include mq(tablet_landscape) {
    width: 55%;
    &.process__icon_submit {
      margin-top: .25rem;
    }
  }
}

.process__text {
  margin-top: 1.5rem;
  color:$text-black;
  font-weight: $font-weight-medium;
  line-height: $line-height-medium;
}

.pilot {
  background-color:  $lightgray;
  padding-top: 5rem;
  padding-right: 1rem;
  @include mq(tablet_landscape) {
    padding-top: 6.5rem;
    padding-right: 0;
    padding-bottom: 6rem;
  }
}

.pilot__wrapper {
  @include mq(tablet_landscape) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.pilot__main {
  @include mq(tablet_landscape) {
    width: 45%;
  }
}
.pilot__form {
  margin-bottom: 1.35rem;
  input {
    border: none;
    width: 21rem;
    margin-bottom: .4rem;
  }
  button {
    padding: 1rem 0;
    margin-top: .5rem;
  }
}

.pilot__signup {
  display: none;
  @include mq(tablet_landscape) {
    margin-top: -9rem;
    padding: 4rem 2.25rem 4.5rem 2.25rem;
    background-color: $mediumgray;
    position: relative;
    z-index: 10;
    display: block;
    h2 {
      font-size: $font-size-medium;
      font-weight: $font-weight-medium;
      text-align: center;
      margin-bottom: 2.35rem;
    }
  }
}

.pilot__member-link {
  display: block;
  font-weight: $font-weight-regular;
  text-decoration: underline;
  text-align: center;
}

.pilot__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 6.8%;
  h2 {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    color: $text-black;
  }
  p {
    padding-top: .5rem;
  }
}

.pilot__img {
  width: 50%;
  margin: 2.88rem auto 3rem auto;
  @include mq(tablet_landscape) {
    width: 40%;
    margin: 0 6.8%;
    padding-top: 5.19rem;
  }
}

.pilot__button {
  width: 100%;
  padding: 1rem 0;
  @include mq(tablet_landscape) {
    display: none;
  }
}

.benefit__title {
  font-size: $font-size-large;
  margin-top: 3.88rem;
  text-align: center;
  @include mq(tablet_landscape) {
    font-size: $font-size-xlarge;
    margin-top: 6rem;
    margin-bottom: 3.88rem;
  }
}

.benefit__main {
  display: flex;
  justify-content: space-around;
  @include mq(tablet_landscape) {
    margin-bottom: 7.25rem;
  }
}
.benefit__elements {
  display: flex;
  flex-direction: column;
}
.benefit__element {
  display: flex;
  align-items: center;
  margin: 2.25rem 0 0 1.88rem;
}
.benefit__img {
  display: none;
  @include mq(tablet_landscape) {
    display: block;
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
  }
}
.benefit__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 85%;
  p {
    margin-top: .5rem;
    @include mq(tablet_landscape) {
      width: 65%;
    }
  }
}

.benefit__illustration {
  display: none;
  @include mq(tablet_landscape) {
    display: block;
    height: 20rem;
    width: 20rem;
    margin-top: 3rem;
  }
}
.team {
  width: 100%;
  @include mq(tablet_landscape) {
    background-color: $lightgray;
  }
}
.team__title {
  color: $text-black;
  font-size: $font-size-large;
  font-weight: $font-weight-light;
  text-align: center;
  margin: 3rem auto 1.5rem auto;
  @include mq(tablet_landscape) {
    font-size: $font-size-large-laptop;
    padding-top: 5rem;
  }
}

.team__subtitle {
  font-size: $font-size-base-laptop;
  font-weight: $font-weight-bold;
  line-height: $line-height-large;
  color: $text-black;
  text-transform: uppercase;
  text-align: center;
  @include mq(tablet_landscape) {
    font-size: $font-size-medium;
    line-height: $line-height-xlarge;
  }
}

.team__members {
  margin: 2.5rem auto 1.5rem auto;
  @include mq(tablet_landscape) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem auto 1.5rem auto;
  }
}

.team__member {
  margin:4.5% 4.5% auto;
  @include mq(tablet_landscape) {
    width: 50%;
    margin: 5.5% 4rem;
  }
}
.team__text {
  padding-top: 1.5rem;
  padding-bottom: 2.88rem;
}
.team__member_name {
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
}

.team__member_title {
  font-size: .75rem;
}

.team__member_bio {
  padding-top: .75rem;
  padding-right: 2rem;
}

.services {
  align-self: center;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    @include mq(tablet_landscape) {
      width: 53%;
    }
    input {
      width: 88%;
    }
    .services__form_button {
      width: 100%;
      padding: 1rem 0;
      margin-top: 1rem;
      @include mq(tablet_landscape) {
        width: 88%;
        margin: 0 auto;
      }
      &:focus {
        opacity: 40%;
      }
      &:active {
        opacity: 40%;
      }
    }
  }
  .mobile-map {
    margin: 1.5rem auto;
    width:90%;
    @include mq(tablet_landscape) {
      width: 41.7%;
    };
  }
}

.services__title {
  font-size: $font-size-large;
  text-align: center;
  margin: 0 auto 1.5rem auto;
  @include mq(tablet_landscape) {
    font-size: $font-size-xlarge;
    margin: 5rem auto 2rem auto;
  }
}

.services__subtitle {
  font-weight: $font-weight-medium;
  color: $text-blue;
  text-align: center;
  padding-bottom: 1.31rem;
}


.services__elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include mq(tablet_landscape) {
    flex-direction: row-reverse;
    padding-top: 2.5rem;
    padding-bottom: 7rem;
  }
}

.footer {
  width: 100%;
  height: 2.75rem;
  background-color: $mediumgray;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(tablet_landscape) {
    height: 4rem;
  }
  .copyright {
    font-size: .5rem;
    font-weight: 300;
    @include mq(tablet_landscape) {
      font-size: $font-size-small;
    }
  }
}
