.intro {
  padding-top: 7rem;
  @include mq(tablet_landscape) {
    padding:0rem;
  }
}

.intro__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 6.8%;
  color: $text-black;
  padding-bottom: 2rem;
  h1 {
    font-size: 2rem;
  }
  p {
    padding-top: .5rem;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.3px;
    line-height: 1.375rem;
  }
  @include mq(tablet_landscape) {
    margin: 0;
    width: 46%;
    position: absolute;
    z-index: 5;
    top: 25%;
    left: 45%;
    h1 {
      font-size: 3rem;
      padding-bottom: .3rem;
      line-height: $line-height-title;
      color: $text-black;
    }
    p {
      font-size: $font-size-base-laptop;
      font-weight: $font-weight-light;
      line-height: $line-height-medium;
      color: $text-black;
      letter-spacing: $spacing-small;
    }
  }
  @include mq(laptop) {
    width: 43%;
    top: 28%;
    h1 {
      font-size: 3rem;
      padding-bottom: .3rem;
      line-height: $line-height-title;
      color: $text-black;
    }
    p {
      font-size: 1.25rem;
      font-weight: $font-weight-light;
      line-height: 1.75rem;
      color: $text-black;
    }
  };
  @include mq(desktop) {
    width: 42%;
    top: 32%;
    h1 {
      font-size: 4.25rem;
      padding-bottom: 1rem;
    }
    p {
      font-size: $font-size-medium;
      line-height: 2rem;
    }
  }
}

.image-container {
  position: relative;
}

.intro__signup_button {
  width: auto;
  position: absolute;
  padding: .75rem 1.5rem;
  bottom: 2.4rem;
  right: 1.31rem;
  letter-spacing: $spacing-medium;
  @include mq(tablet_landscape) {
    width: 20%;
    bottom: 20%;
    left: 45%;
    width:21rem;
    padding: 1rem 1.75rem;
  }
  @include mq(laptop) {
    bottom: 25%;
  };
  @include mq(desktop) {
    padding: 1.25rem 2.5rem;
    bottom: 23%;
  }
}
